body {
    text-align: center;
    background-color: aquamarine;
}

input {
    border-radius: 5px;
    background-color:lightsalmon;
    border-color: black;
    width: 30vb;
    padding: 5px;
}

#data {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 80vh
}